<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Cadastro da criança </ion-title>
    <link rel="stylesheet" href="tab2.page.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastro da criança</ion-title>
    </ion-toolbar>
  </ion-header>
  <form>
    <ion-list>
      <ion-item>
        <ion-input
          label="Nome"
          labelPlacement="floating"
          placeholder=""
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Data de nascimento"
          labelPlacement="floating"
          type="date"
          placeholder=""
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="CPF"
          labelPlacement="floating"
          placeholder=""
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button shape="round">Cadastrar Criança</ion-button>
  </form>
</ion-content>
