<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vacina</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/logo.png" />
    <ion-card-header>
      <ion-card-title>Sejam Bem-Vindos</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      É com grande satisfação que apresentamos nosso aplicativo dedicado a auxiliar e conscientizar as mães
       sobre as datas cruciais para a imunização de seus bebês. Reconhecendo a importância da vacinação na proteção da saúde infantil,
        nossa plataforma tem como objetivo principal fornecer um sistema de alerta eficaz e informativo para garantir que cada criança 
        receba as vacinas essenciais no momento adequado.

      A imunização é um dos pilares fundamentais da saúde pública, protegendo não apenas as crianças individualmente, mas também contribuindo
       para a proteção de toda a comunidade contra doenças infecciosas. Entretanto, compreendemos que acompanhar o calendário de vacinação pode ser
        uma tarefa desafiadora para as mães, especialmente durante os primeiros meses de vida do bebê, quando diversas vacinas são necessárias em intervalos
         específicos.
    </ion-card-content>
  </ion-card>
<!-- 
  <app-explore-container name="xx
  "></app-explore-container>
</ion-content> -->
